::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0 0 0 0;
  font-size: 15px;
}

::ng-deep .mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 150px;
}
