<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <a href="https://www.itus.co/" target="blank">
    <img class="image" src="assets/logo/logo.jpg" />
  </a>
  <div style="margin: 1rem">Web Map Application</div>
  <app-filter></app-filter>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="assets/logo/logo.jpg" />

    <mat-divider></mat-divider>

    <mat-selection-list
      #states
      [(ngModel)]="selectedOptions"
      (click)="onSelectDistrict(selectedOptions)"
    >
      <mat-list-option
        style="font-size: 14px; color: white"
        *ngFor="let state of stateFromList"
        [selected]="state.selected"
        [value]="state"
      >
        {{ state.STATE_NAME }}
      </mat-list-option>
    </mat-selection-list>

    <mat-divider></mat-divider>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8"></div>
    <app-Map></app-Map>
  </mat-sidenav-content>
</mat-sidenav-container>
